<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @user.name %>.</h1>
    <p>It was great meeting you at the General Assembly meet and greet. Here is a copy of my resume. Please reach out I would love to learn more about your organization. Thanks.</p>
    <br><br>
    <p>Steven Fleming</p>
    <a href="http://www.stee.vn">stee.vn</a><br>
    <a href="http://github.com/flemdizzle">github.com/flemdizzle</a>
  </body>
</html>